<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/accoutn.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <span>Doodhwala</span>
        </div>
    </div>

    <div class="block">
        <div class="blck1">
            <img src="{{url_for('static', filename='svg/001-user.svg')}}" alt="no">
            <span>Profile</span>
        </div>

        <div class="blck1">
                <img src="{{url_for('static', filename='svg/002-wallet-filled-money-tool.svg')}}" alt="no">
                <span>Wallet</span>
        </div>

        <div class="blck1">
            <img src="{{url_for('static', filename='/004-support.svg')}}" alt="no">
            <span>Support</span>
        </div>

        <div class="blck1">
            <img src="{{url_for('static', filename='svg/003-percentage.svg')}}" alt="no">
            <span>Offers</span>
        </div>

        <div class="blck1">
            <img src="{{url_for('static', filename='svg/007-information-button.svg')}}" alt="no">
            <span>About Us</span>
        </div>

        <div class="blck1">
            <img src="{{url_for('static', filename='svg/006-star.svg')}}" alt="no">
            <span>Rate Us</span>
        </div>

        <div class="blck1">
            <img src="{{url_for('static', filename='svg/003-instagram.svg')}}" alt="no">
            <span>Instagram</span>
        </div>
        
        <div class="footer">

        </div>
    </div>
</body>
</html>